// Fonts
$mainFont: 'Inter', sans-serif;

// Animations
$Anim-05: all 0.5s ease;
$Anim: all 1s ease;
$Anim-15: all 1.5s ease;

// Colors
$white: #fff;

$black: #1C1C21;
$black-40: #D0D0D8;
$black-05: #F5F5F7;

$red: #EC6259;
$red-05: #FDEEED;

$green: #47D867;
$green-05: #E6FAEA;

$orange-120: #E87928;
$orange: #FF8B37;
$orange-80: #FFAC70;
$orange-05: #FFF3EB;